.search {
  border-style: solid;
  border-width: 0.2em;
  padding: 0.5em;
  width: 20em;
}
.search input[type="text"] {
  padding: 0.2em;
  margin-top: 0.3em;
  font-size: 1em;
  border: none;
  width: auto;
  height: auto;
}
.search input[type="text"]:focus {
  outline: none;
}

nav div[class="flex-H-space-around"] {
  width: 22em;
}

nav div[class="flex-H-space-around"] > button {
  width: 5em;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: var(--pale-white);
  z-index: 4;
  border-bottom: 1px solid;
}

nav i {
  color: var(--primary-color);
}

main {
  margin-top: 8em;
}

.position-relative {
  position: relative;
}

.nav-icon-badge {
  border-style: solid;
  border-width: 0px;
  width: 1.6em;
  height: 1.6em;
  border-radius: 20%;
  text-align: center;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1em;
  right: -1em;
  padding: 0.5em;
  color: var(--pale-white);
  font-size: 0.7rem;
  background-color: var(--badge-color);
}
nav a:hover {
  cursor: pointer;
  color: var(--badge-color);
}
