.homepageLayout {
  display: grid;
  grid-template-rows: 0.3fr 1fr 0.5fr;
}

.header {
  background-color: var(--hero-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em;
}

.header > div {
  width: 80em;
  position: relative;
  transition: transform 2s cubic-bezier(0.3, 0.8, 0.45, 2);
}

.header > div > div > div:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.header > div button {
  position: absolute;
  top: 50%;
  right: 1.5%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.margin {
  margin: 0.5em;
}

.res-image {
  width: 100%;
  height: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
